<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns:aop="http://www.springframework.org/schema/aop"
   xmlns:context="http://www.springframework.org/schema/context"
   xmlns:p="http://www.springframework.org/schema/p"
   xmlns:util="http://www.springframework.org/schema/util"
   xsi:schemaLocation="http://www.springframework.org/schema/beans 
   http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
      http://www.springframework.org/schema/aop 
      http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
      http://www.springframework.org/schema/context 
      http://www.springframework.org/schema/context/spring-context-2.5.xsd
      http://www.springframework.org/schema/util 
      http://www.springframework.org/schema/util/spring-util-2.5.xsd">

         <!-- 어노테이션 사용 설정  //모든패키지에서 인식 -> base-package="*", 인터페이스 안쓴다 -> scoped-proxy="no"  -->
         <context:component-scan base-package="*" scoped-proxy="no"></context:component-scan>
         
         
         
         <!-- Transaction 설정 -->
         <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
            <property name="dataSource" ref="dataSource"/>
         </bean>
         
         <!-- iBatis 객체 생성 //dataSource를 가지고 template을 만들고 그걸로 client를 만들어줌. DB 쓸때 직접 사용하는건 client를 씀(IoC)-->
         
         <bean id="sqlMapClientTemplate" class="org.springframework.orm.ibatis.SqlMapClientTemplate"
            p:sqlMapClient-ref="sqlMapClient"/>
         
         <bean id="sqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean"
            p:dataSource-ref="dataSource"
            p:configLocation="WEB-INF/sqlMapConfig/sqlMapConfig.xml"/>
         
         <!-- 데이터의 기본 위치, 로그인 할 때 사용하는 정보 -->
         <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
            <property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"/>
            <property name="url" value="jdbc:oracle:thin:@localhost:1521:TestDB"/>
            <property name="username" value="scott"/>
            <property name="password" value="tiger"/>
         </bean>
        
</beans>  